CS4BoykoSurlev1/Web References/localhost/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="returnAveragePoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnAveragePointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="returnAveragePointsResult" type="tns:CalculatorResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CalculatorResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sequenceOfNumbers" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="points" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="returnTotalPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnTotalPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="returnTotalPointsResult" type="tns:CalculatorResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllNumberSorted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllNumberSortedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllNumberSortedResult" type="tns:CalculatorResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="returnAveragePointsSoapIn">
    <wsdl:part name="parameters" element="tns:returnAveragePoints" />
  </wsdl:message>
  <wsdl:message name="returnAveragePointsSoapOut">
    <wsdl:part name="parameters" element="tns:returnAveragePointsResponse" />
  </wsdl:message>
  <wsdl:message name="returnTotalPointsSoapIn">
    <wsdl:part name="parameters" element="tns:returnTotalPoints" />
  </wsdl:message>
  <wsdl:message name="returnTotalPointsSoapOut">
    <wsdl:part name="parameters" element="tns:returnTotalPointsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllNumberSortedSoapIn">
    <wsdl:part name="parameters" element="tns:getAllNumberSorted" />
  </wsdl:message>
  <wsdl:message name="getAllNumberSortedSoapOut">
    <wsdl:part name="parameters" element="tns:getAllNumberSortedResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorServiceSoap">
    <wsdl:operation name="returnAveragePoints">
      <wsdl:input message="tns:returnAveragePointsSoapIn" />
      <wsdl:output message="tns:returnAveragePointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="returnTotalPoints">
      <wsdl:input message="tns:returnTotalPointsSoapIn" />
      <wsdl:output message="tns:returnTotalPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllNumberSorted">
      <wsdl:input message="tns:getAllNumberSortedSoapIn" />
      <wsdl:output message="tns:getAllNumberSortedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorServiceSoap" type="tns:CalculatorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnAveragePoints">
      <soap:operation soapAction="http://tempuri.org/returnAveragePoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnTotalPoints">
      <soap:operation soapAction="http://tempuri.org/returnTotalPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllNumberSorted">
      <soap:operation soapAction="http://tempuri.org/getAllNumberSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorServiceSoap12" type="tns:CalculatorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnAveragePoints">
      <soap12:operation soapAction="http://tempuri.org/returnAveragePoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnTotalPoints">
      <soap12:operation soapAction="http://tempuri.org/returnTotalPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllNumberSorted">
      <soap12:operation soapAction="http://tempuri.org/getAllNumberSorted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="CalculatorServiceSoap" binding="tns:CalculatorServiceSoap">
      <soap:address location="http://localhost:52807/CalculatorService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculatorServiceSoap12" binding="tns:CalculatorServiceSoap12">
      <soap12:address location="http://localhost:52807/CalculatorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>