CS4BoykoSurlev1/Web References/localhost2/ArchersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="returnNameAndPrices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="realName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="returnNameAndPricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="returnNameAndPricesResult" type="tns:ArchersResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArchersResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prices" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="returnNameAndPricesSoapIn">
    <wsdl:part name="parameters" element="tns:returnNameAndPrices" />
  </wsdl:message>
  <wsdl:message name="returnNameAndPricesSoapOut">
    <wsdl:part name="parameters" element="tns:returnNameAndPricesResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="ArchersServiceSoap">
    <wsdl:operation name="returnNameAndPrices">
      <wsdl:input message="tns:returnNameAndPricesSoapIn" />
      <wsdl:output message="tns:returnNameAndPricesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchersServiceSoap" type="tns:ArchersServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnNameAndPrices">
      <soap:operation soapAction="http://tempuri.org/returnNameAndPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArchersServiceSoap12" type="tns:ArchersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnNameAndPrices">
      <soap12:operation soapAction="http://tempuri.org/returnNameAndPrices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchersService">
    <wsdl:port name="ArchersServiceSoap" binding="tns:ArchersServiceSoap">
      <soap:address location="http://localhost:52807/ArchersService.asmx" />
    </wsdl:port>
    <wsdl:port name="ArchersServiceSoap12" binding="tns:ArchersServiceSoap12">
      <soap12:address location="http://localhost:52807/ArchersService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>